.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app h2  {
  color: #000;
  margin-bottom: 50px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.barchart {
  padding: 10px;
}

.linegraph {
  width: 100%;
  height: 100%;
}

.pie {
  width: 100%;
  height: 100%;
}